/**
 * Sidenav Component Style
 */
.sidenav {
  //height: 100%;
  //height: 810px;
  height: auto;
  width: 0;
  //width: 100%;
  //position: fixed;
  //position: relative;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  //overflow-x: hidden;
  overflow: hidden;
  //transition: 0.05s;
  //padding-top: 60px;
  //opacity: 0.75;
  //border: 5px solid pink;
  //display: none;
  //transition: ease 0.05s width;
  transition: 0.15s width ease;

}

//#topmain {
//  transition: 0.05s margin-left;
//}

//.closebtn, .sidenav-x-icon {
//  position: absolute;
//  top: 0;
//  right: 5px;
//  font-size: 36px;
//  margin-left: 50px;     

//  &:hover {
//    color: #f1f1f1; 
//  }
//}

//@media screen and (max-height: 450px) {
//  .sidenav {padding-top: 15px;}
//  .closebtn {font-size: 18px;}
//}
/**
 * create mobile 3-bar icon
 */
.sidenav-icon {
    //display: inline-block;
    cursor: pointer;
    margin-top: 27px;
    margin-left: 10px;
    width: 40px;
    padding: 0;
    transition: 0.15s margin-left ease;

    //border: 1px solid $mid-grey;

    &:hover {
      .sidenav-icon-bar1, .sidenav-icon-bar2, .sidenav-icon-bar3 { 
        background-color: $mid-red-orange;
      }
    }    
}

.sidenav-icon-bar1, .sidenav-icon-bar3 {
    width: 35px;
    height: 5px;
    //background-color: #333;
    background-color: $light-grey;
    margin: 6px 0;
    //transition: 0.05s ease;
    transition: 0.15s ease;
}

.sidenav-icon-bar2 {
    width: 25px;
    height: 5px;
    //background-color: #333;
    background-color: $light-grey;
    margin: 6px 0;
    //transition: 0.05s ease;
    transition: 0.15s ease;  
}

.change .sidenav-icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .sidenav-icon-bar2 {opacity: 0;}

.change .sidenav-icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav-logo {
  background-color: $dull-black;  
  @include border2-solid($dull-black);  
  padding-top: 0.95em;
  padding-bottom: 0.95em;
  //border: 1px solid red;
  h2  {
    margin: 0.25em 0.25em;
    color: $teal;
    font-size: 135%;
  }

  span {
    color: $white;
  }
}

.sidenav-navbar {
  .sidenav-menu {
    text-decoration: none;
    //font-size: 25px;
    font-size: 85%;
    color: #818181;
    display: block;
    transition: 0.05s;
    border-right: 5px solid #818181; 
    //padding: 0.25em;
    padding: 8px 8px 8px 32px;
    margin: 5px;

    @include fancy-animated-hover-effect(violet);
    /*
    &:hover {
      //font-weight: 700;
      color: violet;
      border-right: 5px solid violet;      
    }

    &:after,
    &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(violet, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }

    &:hover:after {
      backface-visibility: hidden;
      border-color: violet;
      transition: width 350ms ease-in-out;
      width: 100%;
    } 
  */
  }   
}


.sidenav-label--active {
  //border-color: red;
  //border-right-style: none;
  //border-right: 2px solid $white; 
  //background-color: $light-teal;
  background-color: $white;
  border: 1px solid green;  
  border-right: 5px solid violet; 
  //padding-right: 2px;
  z-index: 1;
}

.sidenav-footer {
  background-color: $dark-teal;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  //border: 1px solid;

  p {
    font-size: 55%;
    text-align: center;
    //border: 1px solid;
    margin: 0;  
  }
}