/**
 * reset box-sizing to border box for all element 
 */
html, *, * ::before, * ::after {
  box-sizing: border-box;
}

/**
 * TYPOGRAPHY
 */
body {
  font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 130%;
  line-height: 1.5;
  background-color: white;
  color: #34383c;
  margin: 0;
}

/* Vertical Rhythm */
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
summary,
table,
ul {
  margin-bottom: 24px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  color: #1e2226;
  margin-top: 32px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

/* Paragraphs */
p {
  margin-top: 0;
}

/* Lists */
dl dt {
  font-weight: 700;
  color: #34383c;
}

dl dd {
  margin: 0;
}

ol,
ul {
  padding: 0;
}

ol li,
ul li {
  margin-left: 18px;
}

ol {
  list-style-: decimal;
}

ol ol {
  list-style: upper-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ol ol ol ol {
  list-style: lower-alpha;
}

ol ol,
ul ul {
  margin-bottom: 0;
}

/* Inline Elements */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #ff9948;
}

a:hover {
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

/* Horizontal Rules */
hr {
  display: block;
  padding: 0;
  border: 0;
  border-top: 2px solid #f2f5fa;
  margin-top: 32px;
}

/* Preformatted Text */
code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  font-weight: 400;
  background-color: #f2f5fa;
  border: 1px solid #c3ced9;
  border-radius: 4px;
}

code,
kbd,
samp {
  white-space: nowrap;
  padding: 1px 8px;
  margin: 0;
}

pre {
  position: relative;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
  border-radius: 4px;
  padding: 24px;
  margin-top: 0;
}

pre code {
  display: block;
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  color: inherit;
  border: none;
  border-radius: 0;
  background: transparent;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  background-color: white;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

span {
  font-family: inherit;
  font-size: inherit;
}

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

.font-size-120 {
  font-size: 120%;
}

.font-size-150 {
  font-size: 150%;
}

.font-size-180 {
  font-size: 180%;
}

.centered {
  text-align: center;
}

.italized {
  font-style: italic;
}

/**
 * Site Header Style
 */
.site-header {
  background-color: #34383c;
  -web-kit-border: 2px solid #34383c;
  -moz-border: 2px solid #34383c;
  -ms-border: 2px solid #34383c;
  border: 2px solid #34383c;
}
@media screen and (max-width: 700px) {
  .site-header .header-p-spacer {
    display: none;
  }
}

.header-logo h1 {
  margin: 0.25em 0.25em;
  color: #51d0ef;
}
.header-logo span {
  color: white;
}
@media screen and (max-width: 700px) {
  .header-logo {
    display: none;
  }
}

/**
 * Site Footer Style
 */
.site-footer {
  background-color: #48bfdc;
  -web-kit-border: 2px solid #48bfdc;
  -moz-border: 2px solid #48bfdc;
  -ms-border: 2px solid #48bfdc;
  border: 2px solid #48bfdc;
  text-align: center;
}

/**
 * 12 Column Grid Container
 */
.container {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

/**
 * Default 'row' containers utilising flexbox
 * instead of the float technology
 */
.row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.row-till-498 {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.row-till-680 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.row-till-768 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.row-till-968 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.row-till-1068 {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.just-row {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.left-justify {
  text-align: left;
}

.right-justify {
  text-align: right;
}

/* no floats use here */
[class*="col"] {
  position: relative;
  padding: 5px;
  margin: 2px;
}

.col1 {
  width: 7%;
}

.col2 {
  width: 15%;
}

.col3 {
  width: 23%;
}

.col4 {
  width: 32%;
}

.col5 {
  width: 40%;
}

.col6 {
  width: 48%;
}

.col7 {
  width: 57%;
}

.col8 {
  width: 65%;
}

.col9 {
  width: 73%;
}

.col10 {
  width: 82%;
}

.col11 {
  width: 90%;
}

.col12 {
  width: 98%;
}

.force-stay-width-320 .col3 {
  width: 320px;
}

.force-stay-width-498 [class*="col"] {
  width: 498px;
}

.force-stay-width-886 [class*="col"] {
  width: 886px;
}

@media (max-width: 4000px) {
  .row {
    flex-flow: row nowrap;
  }
  .row .col6 {
    width: 498px;
  }

  .force-stay-margin-auto [class*="col"] {
    margin: auto;
  }
}
@media (max-width: 1068px) {
  .row-till-1068 {
    flex-flow: column wrap;
  }

  .force-row {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .force-stay-margin-auto [class*="col"] {
    margin: auto;
  }

  .no-margin-auto [class*="col"] {
    margin: 0;
    width: 100%;
    flex-grow: 1;
  }

  .row {
    flex-flow: column wrap;
  }
  .row .col6 {
    width: 498px;
  }
}
@media (max-width: 968px) {
  .row-till-968 {
    flex-flow: column wrap;
  }

  .col8 {
    margin: 0;
    flex-grow: 1;
  }

  .col4 {
    width: 428px;
  }
}
@media (max-width: 768px) {
  .row-till-768 {
    flex-flow: column wrap;
  }
}
@media (max-width: 680px) {
  .row-till-680 {
    flex-flow: column wrap;
  }

  .force-row {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .col9 {
    width: 100%;
    flex-grow: 1;
  }
}
@media (max-width: 498px) {
  .row-till-498 {
    flex-flow: column wrap;
  }

  .undo-force-stay-width-320 .col3 {
    width: 100%;
  }

  .row .col6 {
    width: 360px;
  }
}
/**
 * Add varying shade of colors to the different section of the page
 */
.about-section {
  background-color: white;
  border: 2px solid white;
}

.section-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

.article-title {
  font-size: 190%;
  font-weight: 800;
}

.article-subtitle {
  color: #838383;
}

.media {
  width: 280px;
  height: auto;
  margin: auto;
  padding: auto;
  margin-left: 15px;
}

.projects-section {
  background-color: #a3f5f8;
  border: 2px solid #a3f5f8;
}

.skills-section {
  background-color: #999999;
  border: 2px solid #999999;
}

.contact-section {
  background-color: #ededed;
  border: 2px solid #ededed;
}

.section-paragraph {
  background-color: lime;
}

@media screen and (max-width: 700px) {
  .section-paragraph {
    display: none;
  }

  .article-subtitle:after {
    content: '\002B';
    float: right;
  }
}
/**
 * Search Form Style
 */
.searchform {
  position: relative;
  width: 250px;
  height: 80px;
  padding-top: 23px;
  padding-bottom: 15px;
  margin-top: 5px;
}
.searchform a {
  color: #f3f4f5;
  fill: currentColor;
  padding: 0.25em 1.15em 0.125em 0.25em;
  margin: 0;
  text-decoration: none;
  position: relative;
}
.searchform a svg {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  position: absolute;
  left: 0;
}
.searchform a svg:hover {
  color: #ff9948;
  fill: currentColor;
}

.searchform-label {
  position: absolute;
  top: 23px;
  color: #f3f4f5;
  font-size: 100%;
}

.searchform-input {
  border: 0;
  background-color: #34383c;
  -web-kit-border-bottom: 2px solid #f3f4f5;
  -moz-border-bottom: 2px solid #f3f4f5;
  -ms-border-bottom: 2px solid #f3f4f5;
  border-bottom: 2px solid #f3f4f5;
  width: 200px;
  height: 32px;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #f3f4f5;
}

/**
 * Search Form Basic Modal Style
 */
.searchform-window-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.searchform-modal {
  display: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.searchform-modal-content {
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  width: 80%;
  border: 1px solid #888;
}

/* size small, @type svg dimension */
.form-icon-small {
  width: 1em;
  height: 1em;
}

/* size medium, @type svg dimension */
.form-icon-medium {
  width: 1.5em;
  height: 1.5em;
}

/* size large, @type svg dimension */
.form-icon-large {
  width: 2em;
  height: 2em;
}

/* size large, @type svg dimension */
.form-icon-xlarge {
  width: 2.5em;
  height: 2.5em;
}

/**
 * Navbar Component Style
 */
.topnav {
  padding-top: 30px;
}
@media screen and (max-width: 700px) {
  .topnav {
    display: none;
  }
}

.topnav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topnav-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.topnav-item-horizontal {
  display: inline-block;
}

.topnav-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.t-link:hover {
  color: #999999;
}
.t-link:after, .t-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba(153, 153, 153, 0);
  bottom: 0px;
  content: " ";
  display: block;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.t-link:hover:after {
  backface-visibility: hidden;
  border-color: #999999;
  transition: width 350ms ease-in-out;
  width: 100%;
}

/*
.t-link:hover,
.t-link:active {
  //letter-spacing: 1px;
  color: $mid-grey;
}

.t-link:after,
.t-link:before {
  backface-visibility: hidden;
  border: 1px solid rgba($mid-grey, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

//.t-link:hover:after,
//.t-link:hover:before {
.t-link:hover:after {
  backface-visibility: hidden;
  border-color: $mid-grey;
  transition: width 350ms ease-in-out;
  width: 100%;
}

*/
/**
 * Mobile 'topnav' component
 */
.m-topnav {
  display: none;
  color: white;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .m-topnav {
    display: block;
    margin: 0;
    padding: 0;
  }
}
.m-topnav span {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/**
 * Digital Business Card Component
 */
.digital-business-card {
  max-width: 498px;
  height: 315px;
  position: relative;
  perspective: 1000px;
  margin: auto;
}

.digital-business-card-axis {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: 2s;
}

.digital-business-card-outerside {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.frontside {
  background: url(../img/pa2/digital-business-card/bg2.png) no-repeat;
  transform: rotateX(0deg) translateZ(0.01px);
}

.backside {
  transform: rotateX(180deg) translateZ(0.01px);
}

.dbcard-backside-img {
  width: 100%;
  height: 100%;
}

.digital-business-card-rotate-icon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 15px;
  left: 450px;
  color: #fff;
  fill: currentColor;
}
.digital-business-card-rotate-icon:hover {
  color: silver;
  fill: currentColor;
}

.digital-business-card-bookopen-icon {
  width: 2em;
  height: 2em;
  border-radius: 30%;
  padding: 1px;
  margin: 0;
}

.digital-business-card-social-icon {
  width: 1.5em;
  height: 1.5em;
  padding: 3px;
  margin: 0;
}

.dbcard-name {
  margin: 0 0 0 10px;
  font-size: 225%;
  font-weight: 400;
  line-height: 1;
  width: 80%;
  color: white;
}

.dbcard-title {
  margin: 0 0 0 10px;
  font-size: 115%;
  line-height: 1;
  width: 80%;
  color: #babac5;
}

.dbcard-desc {
  margin: 0 0 0 10px;
  font-size: 90%;
  line-height: 1.25;
  color: #fff;
}

.dbcard-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 90%;
  line-height: 1.5;
}

.dbcard-item {
  display: block;
  padding: 0;
  margin: 0;
}

.dbcard-item-inline {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.dbcard-item-icon-inline {
  display: inline-block;
  padding: 5px;
  margin: 1px;
}

.dbcard-enc-name, .dbcard-p-spacer {
  color: #fff;
}

.dbcard-link {
  margin: 0 0 0 10px;
  padding: 0 30px 0 0;
}
.dbcard-link svg {
  padding: 0;
}

.go-left {
  float: left;
  padding: 0;
  margin: 0;
}

.go-right {
  float: right;
}

.dbcard-footer {
  padding: 0;
  margin: 0 0 0 10px;
}

.dbcard-footer-item {
  margin: 30px 0 0 0;
  padding: 0;
}
.dbcard-footer-item .dbcard-icon-book-open-link {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 4.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}
.dbcard-footer-item .dbcard-icon-book-open-link:hover {
  color: silver;
  background-color: black;
  fill: currentColor;
}
.dbcard-footer-item .dbcard-icon-book-open-link svg {
  vertical-align: middle;
}
.dbcard-footer-item h4 {
  margin: 0 0 0 10px;
  line-height: 1;
  font-size: 100%;
}
.dbcard-footer-item p {
  margin: 0 0 0 10px;
  padding: 0;
  line-height: 1;
  font-size: 90%;
}

.dbcard-social-link {
  margin: 0;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  z-index: 3;
}
.dbcard-social-link svg {
  margin: 0;
  margin-bottom: 3px;
  vertical-align: middle;
}
.dbcard-social-link:hover {
  color: silver;
  background-color: black;
  fill: currentColor;
}

@media screen and (max-width: 600px) {
  .digital-business-card {
    width: 90vw;
    height: 55vw;
  }

  .digital-business-card-axis {
    width: 90vw;
    height: 55vw;
  }

  .digital-business-card-outerside {
    width: 90vw;
    height: 55vw;
  }

  .digital-business-card-rotate-icon {
    width: 2em;
    height: 2em;
    font-size: 3vw;
    left: 82vw;
  }

  .digital-business-card-bookopen-icon {
    font-size: 4vw;
    margin: 0;
  }

  .digital-business-card-social-icon {
    width: 1.5em;
    height: 1.5em;
    font-size: 2.75vw;
    padding: 0;
    margin: 0;
  }

  .dbcard-name {
    margin: 0 0 0 0.78vw;
    font-size: 7vw;
    width: 60vw;
  }

  .dbcard-title {
    -web-kit-margin: 0 0 0 0.78vw;
    -moz-margin: 0 0 0 0.78vw;
    -ms-margin: 0 0 0 0.78vw;
    margin: 0 0 0 0.78vw;
    -web-kit-font-size: 2.75vw;
    -moz-font-size: 2.75vw;
    -ms-font-size: 2.75vw;
    font-size: 2.75vw;
  }

  .dbcard-desc {
    font-size: 3.5vw;
    margin: 0 0 0 0.78vw;
  }

  .dbcard-list {
    font-size: 3.5vw;
    margin-top: 0.23vw;
    margin-bottom: 0.23vw;
  }

  .dbcard-link {
    margin: 0 0 0 0.78vw;
    padding: 0 2.33vw 0 0;
  }
  .dbcard-link svg {
    padding: 0;
  }

  .dbcard-social-link {
    margin: .25vw;
    padding: 0.88vw;
    padding-left: 0.94vw;
    padding-right: 0.94vw;
  }
  .dbcard-social-link svg {
    margin: 0;
  }

  .dbcard-footer-item {
    font-size: 3.5vw;
    margin-top: 0.233vw 0 0 0;
  }

  .dbcard-p-spacer {
    line-height: 1vh;
    margin-bottom: 2.33vw;
  }

  .dbcard-footer {
    margin: 0 0 0 0.78vw;
  }

  .dbcard-desc-section {
    padding-top: 0.23vw;
  }
}
/**
 * Tooltip Component Style 
 */
.bc-tooltip {
  position: relative;
  display: inline-block;
  border-top: 1px transparent;
  /*border-bottom: 1px dashed;*/
  margin: 0 5px 0 8px;
  color: #ff9948;
}

.bc-tooltip-decresendo {
  display: none;
  position: relative;
  border-top: 1px transparent;
  /*border-bottom: 1px dashed;*/
  margin: 0 5px 0 8px;
  color: #ff9948;
}

.bc-tooltip .bc-tooltiptext, .bc-tooltip-decresendo .bc-tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -83px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.bc-tooltip .bc-tooltiptext::after, .bc-tooltip-decresendo .bc-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.bc-tooltip:hover .bc-tooltiptext, .bc-tooltip-decresendo:hover .bc-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.bc-tooltip .bc-tooltiptext, .bc-tooltip-decresendo .bc-tooltiptext {
  left: -17px;
  width: 180px;
}

@media screen and (max-width: 500px) {
  .bc-tooltip {
    display: none;
  }

  .bc-tooltip-decresendo {
    display: block;
  }

  .bc-tooltip-decresendo .bc-tooltiptext {
    margin-left: -63px;
  }
}
/**
 * SVG Bar-Chart Style 
 */
.svgbar {
  position: relative;
  margin: 0;
  padding: 0;
}
.svgbar svg {
  padding: 0;
  margin: auto;
  margin-bottom: 0;
  vertical-align: middle;
  background-color: #ededed;
  border-radius: 7px;
}

/**
 * Return-to-Top Navigator Component
 */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  right: 0;
  /*background: rgb(0, 0, 0);
  //background: rgba(0, 0, 0, 0.7);*/
  background-color: #ff9948;
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  opacity: .75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 2;
  color: #f2f5fa;
}
#return-to-top svg {
  color: white;
  fill: currentColor;
  padding-top: 5px;
  padding-left: 5px;
  z-index: 2;
}

#return-to-top:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  #return-to-top {
    bottom: 10px;
    right: 10px;
  }
}
/**
 * Sidenav Component Style
 */
.sidenav {
  height: auto;
  width: 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  transition: 0.15s width ease;
}

/**
 * create mobile 3-bar icon
 */
.sidenav-icon {
  cursor: pointer;
  margin-top: 27px;
  margin-left: 10px;
  width: 40px;
  padding: 0;
  transition: 0.15s margin-left ease;
}
.sidenav-icon:hover .sidenav-icon-bar1, .sidenav-icon:hover .sidenav-icon-bar2, .sidenav-icon:hover .sidenav-icon-bar3 {
  background-color: #ff9948;
}

.sidenav-icon-bar1, .sidenav-icon-bar3 {
  width: 35px;
  height: 5px;
  background-color: #ededed;
  margin: 6px 0;
  transition: 0.15s ease;
}

.sidenav-icon-bar2 {
  width: 25px;
  height: 5px;
  background-color: #ededed;
  margin: 6px 0;
  transition: 0.15s ease;
}

.change .sidenav-icon-bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .sidenav-icon-bar2 {
  opacity: 0;
}

.change .sidenav-icon-bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav-logo {
  background-color: #34383c;
  -web-kit-border: 2px solid #34383c;
  -moz-border: 2px solid #34383c;
  -ms-border: 2px solid #34383c;
  border: 2px solid #34383c;
  padding-top: 0.95em;
  padding-bottom: 0.95em;
}
.sidenav-logo h2 {
  margin: 0.25em 0.25em;
  color: #51d0ef;
  font-size: 135%;
}
.sidenav-logo span {
  color: white;
}

.sidenav-navbar .sidenav-menu {
  text-decoration: none;
  font-size: 85%;
  color: #818181;
  display: block;
  transition: 0.05s;
  border-right: 5px solid #818181;
  padding: 8px 8px 8px 32px;
  margin: 5px;
}
.sidenav-navbar .sidenav-menu:hover {
  color: violet;
  border-right: 5px solid violet;
}
.sidenav-navbar .sidenav-menu:after, .sidenav-navbar .sidenav-menu:before {
  backface-visibility: hidden;
  border: 1px solid rgba(238, 130, 238, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.sidenav-navbar .sidenav-menu:hover:after {
  backface-visibility: hidden;
  border-color: violet;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.sidenav-label--active {
  background-color: white;
  border: 1px solid green;
  border-right: 5px solid violet;
  z-index: 1;
}

.sidenav-footer {
  background-color: #48bfdc;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.sidenav-footer p {
  font-size: 55%;
  text-align: center;
  margin: 0;
}

/**
 * Scrollspy Component Style 
 */
.scrollspy {
  position: fixed;
  width: 110px;
  height: 175px;
  bottom: 150px;
  right: -93px;
  z-index: 3;
  background-color: blue;
  color: white;
  opacity: 0.75;
  border-radius: 0.2em;
  margin: 0;
  padding: 0;
  letter-spacing: 1.25px;
  line-height: 1.85;
}
.scrollspy:hover {
  right: 0;
}

.scrollnav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scrollnav-item {
  margin: 1px;
  padding: 1px;
}

.scrollnav-link {
  text-decoration: none;
  padding: 0.1em;
  margin: 0;
}
.scrollnav-link:hover {
  color: white;
}

.scrollnav-link--active {
  color: brown;
  background-color: yellow;
  border-radius: 0.2em;
}

/**
 *  Vertical Tab Component Style
 */
.tab {
  position: relative;
  max-width: 1080px;
  height: auto;
  margin: auto;
  display: flex;
}

.tab-index {
  width: 240px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.tab-index-label {
  margin-left: 1.25px;
  width: 100%;
  border: 1px solid #34383c;
  padding: 9px;
  cursor: pointer;
  z-index: 9;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  background-color: #ededed;
}
.tab-index-label:hover {
  font-weight: 700;
  color: violet;
  border-right: 5px solid violet;
}
.tab-index-label:after, .tab-index-label:before {
  backface-visibility: hidden;
  border: 1px solid rgba(238, 130, 238, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.tab-index-label:hover:after {
  backface-visibility: hidden;
  border-color: violet;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.tab-index-label--active {
  border-right-style: none;
  background-color: white;
  z-index: 10;
}

.tab-body {
  flex: 1;
  margin: 0;
  padding: 0;
}

.tab-body-content {
  position: relative;
  margin: 0;
  width: 100%;
  border: 1px solid #34383c;
  padding: 3px;
  height: 656.75px;
  background-color: white;
  display: none;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  overflow: hidden;
}

.tab-content--carousel-section {
  position: relative;
  width: 100%;
  height: 77%;
  overflow: hidden;
}

.tab-content--desc-section {
  position: relative;
  height: auto;
}

.tab-content-title {
  margin: 5px 5px;
  line-height: 1.25;
}

.tab-content-desc {
  margin: 5px 5px;
  font-size: 85%;
  line-height: 1.25;
}

.tab-content-list {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  font-size: 85%;
}

.tab-content-item {
  display: block;
  margin: 0;
  padding: 0;
}

.tab-content-item-inline {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tab-social-icon {
  width: 1em;
  height: 1em;
}

.tab-content-link {
  margin: 0 0 0 5px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.tab-content-link:hover {
  text-decoration: underline;
  color: black;
}
.tab-content-link:hover span {
  background-color: black;
  border-color: black;
}
.tab-content-link:hover span svg {
  color: silver;
  border-color: silver;
  fill: currentColor;
}
.tab-content-link span {
  margin: 0;
  padding: 0;
  border-radius: 50px;
  padding: 8px 0 11px 0;
  border: 1px solid white;
  margin-right: 5px;
}
.tab-content-link span svg {
  margin: 0;
  margin-left: 4px;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  border: 2px solid black;
  border-radius: 50px;
  padding: 2px 4px 0 3px;
}

.tab-content-p-spacer {
  border: 1px solid transparent;
  margin: 4px;
}

.build-tab-carousel-content {
  margin: 0;
  margin-top: 100px;
  vertical-align: middle;
}

@media screen and (max-width: 998px) {
  .tab-content-title {
    font-size: 85%;
  }

  .tab-content-desc {
    font-size: 75%;
  }

  .tab-content-list {
    font-size: 75%;
  }
}
@media screen and (max-width: 700px) {
  .tab {
    display: none;
  }
}
/**
 * Accordion Component Style
 */
.accordion {
  padding: 0;
  width: 100%;
  height: auto;
  background-color: white;
  margin: auto;
  margin-top: 0.25em;
  display: none;
}

.accordion-panel {
  margin: 0;
  width: 100%;
  position: relative;
}

.accordion-label {
  border: 1px solid violet;
  cursor: pointer;
  background-color: violet;
  color: white;
  padding: 0.25em;
}
.accordion-label:hover {
  letter-spacing: 2px;
  color: brown;
}
.accordion-label:after, .accordion-label:before {
  backface-visibility: hidden;
  border: 1px solid rgba(165, 42, 42, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.accordion-label:hover:after {
  backface-visibility: hidden;
  border-color: brown;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.accordion-content {
  border: 1px solid silver;
  height: 0;
  overflow: hidden;
  background-color: silver;
}

@media screen and (max-width: 700px) {
  .accordion {
    display: block;
  }
}
.accordion-content--carousel-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.accordion-content--desc-section {
  position: relative;
}

.accordion-content-title {
  margin: 5px 5px;
  line-height: 1.25;
  font-size: 80%;
}

.accordion-content-desc {
  margin: 5px 5px;
  font-size: 65%;
  line-height: 1.25;
}

.accordion-content-p-spacer {
  line-height: 0.5;
  border: 1px solid transparent;
  margin: 6px;
}

.accordion-content-list {
  list-style: none;
  margin: 0;
  margin-bottom: 5px;
  font-size: 65%;
}

.accordion-content-item {
  display: block;
  margin: 0;
  padding: 0;
}

.accordion-content-item-inline {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.accordion-content-link {
  margin: 0 0 0 5px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.accordion-content-link:hover {
  text-decoration: underline;
  color: black;
}
.accordion-content-link:hover span {
  background-color: black;
  border-color: black;
}
.accordion-content-link:hover span svg {
  color: silver;
  border-color: silver;
  fill: currentColor;
}
.accordion-content-link span {
  margin: 0;
  padding: 0;
  border-radius: 50px;
  padding: 8px 0 11px 0;
  border: 1px solid silver;
  margin-right: 5px;
}
.accordion-content-link span svg {
  margin: 0;
  margin-left: 4px;
  vertical-align: middle;
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50px;
  padding: 2px 4px 0 3px;
}

.build-accordion-carousel-content {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
  height: auto;
}

@media screen and (max-width: 360px) {
  .accordion-content-desc {
    font-size: 50%;
  }

  .accordion-content-list {
    font-size: 50%;
  }
}
/**
 * Carousel 3d Style
 */
.carousel-3d {
  position: relative;
  margin: auto;
  top: 22%;
  max-width: 375px;
  height: 275px;
  perspective: 1300px;
  border-radius: 0.25em;
}

.carousel-3d-axis {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
}

.carousel-3d-item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}
.carousel-3d-item div {
  width: 100%;
}
.carousel-3d-item div img {
  width: 100%;
  height: auto;
}
.carousel-3d-item div video {
  width: 100%;
  height: auto;
}

/* carousel 3d quad-face */
.f1-of-3d-quad {
  transform: rotateY(0deg) translateZ(200px);
  background-color: #ededed;
}

.f2-of-3d-quad {
  transform: rotateY(90deg) translateZ(200px);
  background-color: #ededed;
}

.f3-of-3d-quad {
  transform: rotateY(180deg) translateZ(200px);
  background-color: #ededed;
}

.f4-of-3d-quad {
  transform: rotateY(270deg) translateZ(200px);
  background-color: #ededed;
}

.carousel-3d-item--indicator-quad {
  position: absolute;
  border: 1px solid #ededed;
  border-radius: 50px;
  background-color: #34383c;
  margin-right: 0.25em;
  width: 0.5em;
  height: 0.5em;
  z-index: 5;
  cursor: pointer;
}
.carousel-3d-item--indicator-quad:hover {
  background-color: orange;
  border-color: silver;
}
.carousel-3d-item--indicator-quad:first-of-type {
  top: 285px;
  left: 123px;
}
.carousel-3d-item--indicator-quad:nth-of-type(2) {
  top: 285px;
  left: 163px;
}
.carousel-3d-item--indicator-quad:nth-of-type(3) {
  top: 285px;
  left: 203px;
}
.carousel-3d-item--indicator-quad:nth-of-type(4) {
  top: 285px;
  left: 243px;
}

/* carousel 3d tri-face */
.f1-of-3d-tri {
  transform: rotateY(0deg) translateZ(200px);
  background-color: #ededed;
}

.f2-of-3d-tri {
  transform: rotateY(120deg) translateZ(200px);
  background-color: #ededed;
}

.f3-of-3d-tri {
  transform: rotateY(240deg) translateZ(200px);
  background-color: #ededed;
}

.carousel-3d-item--indicator-tri {
  position: absolute;
  border: 1px solid #ededed;
  border-radius: 50px;
  background-color: #34383c;
  margin-right: 0.25em;
  width: 0.5em;
  height: 0.5em;
  z-index: 1;
  cursor: pointer;
}
.carousel-3d-item--indicator-tri:hover {
  background-color: orange;
  border-color: silver;
}
.carousel-3d-item--indicator-tri:first-of-type {
  top: 285px;
  left: 143px;
}
.carousel-3d-item--indicator-tri:nth-of-type(2) {
  top: 285px;
  left: 183px;
}
.carousel-3d-item--indicator-tri:nth-of-type(3) {
  top: 285px;
  left: 233px;
}

/* carousel 3d sexta-face */
.f1-of-3d-sexta {
  transform: rotateY(0deg) translateZ(340px);
  background-color: #ededed;
}

.f2-of-3d-sexta {
  transform: rotateY(60deg) translateZ(340px);
  background-color: #ededed;
}

.f3-of-3d-sexta {
  transform: rotateY(120deg) translateZ(340px);
  background-color: #ededed;
}

.f4-of-3d-sexta {
  transform: rotateY(180deg) translateZ(340px);
  background-color: #ededed;
}

.f5-of-3d-sexta {
  transform: rotateY(240deg) translateZ(340px);
  background-color: #ededed;
}

.f6-of-3d-sexta {
  transform: rotateY(300deg) translateZ(340px);
  background-color: #ededed;
}

.carousel-3d-item--indicator-sexta {
  position: absolute;
  border: 1px solid #ededed;
  border-radius: 50px;
  background-color: #34383c;
  margin-right: 0.25em;
  width: 0.5em;
  height: 0.5em;
  z-index: 1;
  cursor: pointer;
}
.carousel-3d-item--indicator-sexta:hover {
  background-color: orange;
  border-color: silver;
}
.carousel-3d-item--indicator-sexta:first-of-type {
  top: 285px;
  left: 83px;
}
.carousel-3d-item--indicator-sexta:nth-of-type(2) {
  top: 285px;
  left: 123px;
}
.carousel-3d-item--indicator-sexta:nth-of-type(3) {
  top: 285px;
  left: 163px;
}
.carousel-3d-item--indicator-sexta:nth-of-type(4) {
  top: 285px;
  left: 203px;
}
.carousel-3d-item--indicator-sexta:nth-of-type(5) {
  top: 285px;
  left: 243px;
}
.carousel-3d-item--indicator-sexta:nth-of-type(6) {
  top: 285px;
  left: 283px;
}

.carousel-3d-item--next, .carousel-3d-item--next-a {
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 125px;
  left: 346px;
  padding: 6.25px 9.25px 0 9.25px;
  border-radius: 50px;
  background-color: yellow;
  opacity: 0.5;
}
.carousel-3d-item--next svg, .carousel-3d-item--next-a svg {
  padding: 1px;
  margin: 0;
  border: 1px solid;
  border-radius: 50px;
}
.carousel-3d-item--next:hover, .carousel-3d-item--next-a:hover {
  background-color: black;
  opacity: 1;
}
.carousel-3d-item--next:hover svg, .carousel-3d-item--next-a:hover svg {
  color: yellow;
  fill: currentColor;
}

.carousel-3d-item--prev, .carousel-3d-item--prev-a {
  padding: 6.25px 9px 0 9.25px;
  border-radius: 50px;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 125px;
  left: -12px;
  background-color: yellow;
  opacity: 0.5;
}
.carousel-3d-item--prev svg, .carousel-3d-item--prev-a svg {
  padding: 1px;
  border: 1px solid;
  border-radius: 50px;
}
.carousel-3d-item--prev:hover, .carousel-3d-item--prev-a:hover {
  background-color: black;
  opacity: 1;
}
.carousel-3d-item--prev:hover svg, .carousel-3d-item--prev-a:hover svg {
  color: yellow;
  fill: currentColor;
}

.carousel-3d-item--next-a, .carousel-3d-item--prev-a {
  display: none;
}

.carousel-3d-content {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #e1332d;
  overflow: hidden;
}
.carousel-3d-content img {
  width: 100%;
}

.itemsIn3d-1--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-2--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-3--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-4--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-5--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-6--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-7--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-8--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-9--active {
  border-color: #34383c;
  background-color: #ededed;
}

.itemsIn3d-10--active {
  border-color: #34383c;
  background-color: #ededed;
}

@media screen and (max-width: 700px) {
  .carousel-3d-item--next, .carousel-3d-item--prev {
    display: none;
  }

  .carousel-3d-item--next-a, .carousel-3d-item--prev-a {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .carousel-3d {
    max-width: 300px;
    height: 245px;
  }

  .carousel-3d-item div {
    width: 100%;
  }
  .carousel-3d-item div img {
    width: 100%;
    height: auto;
  }
  .carousel-3d-item div video {
    width: 100%;
    height: auto;
  }

  .carousel-3d-item--prev-a {
    top: 100px;
    left: -4px;
  }

  .carousel-3d-item--next-a {
    top: 100px;
    left: 260px;
  }

  .carousel-3d-item--indicator-quad:first-of-type {
    top: 245px;
    left: 83px;
  }
  .carousel-3d-item--indicator-quad:nth-of-type(2) {
    top: 245px;
    left: 123px;
  }
  .carousel-3d-item--indicator-quad:nth-of-type(3) {
    top: 245px;
    left: 163px;
  }
  .carousel-3d-item--indicator-quad:nth-of-type(4) {
    top: 245px;
    left: 203px;
  }

  .carousel-3d-item--indicator-tri:first-of-type {
    top: 245px;
    left: 103px;
  }
  .carousel-3d-item--indicator-tri:nth-of-type(2) {
    top: 245px;
    left: 143px;
  }
  .carousel-3d-item--indicator-tri:nth-of-type(3) {
    top: 245px;
    left: 183px;
  }

  .carousel-3d-item--indicator-sexta:first-of-type {
    top: 245px;
    left: 43px;
  }
  .carousel-3d-item--indicator-sexta:nth-of-type(2) {
    top: 245px;
    left: 83px;
  }
  .carousel-3d-item--indicator-sexta:nth-of-type(3) {
    top: 245px;
    left: 123px;
  }
  .carousel-3d-item--indicator-sexta:nth-of-type(4) {
    top: 245px;
    left: 163px;
  }
  .carousel-3d-item--indicator-sexta:nth-of-type(5) {
    top: 245px;
    left: 203px;
  }
  .carousel-3d-item--indicator-sexta:nth-of-type(6) {
    top: 245px;
    left: 243px;
  }
}
/**
 * Style the Calculator in the Carousel Component 
 */
.calculator {
  margin: auto;
  margin-top: -79px;
  border: 1px solid #e1332d;
  display: flex;
  flex-direction: column;
  /*width: 320px;*/
  /*max-height: 300px;*/
  max-width: 346px;
  height: 423px;
  padding: 1em;
  background-color: #e1332d;
  border-radius: 0.95em;
  transform: scale(0.56);
  z-index: 10;
}

.calculator-display {
  width: 100%;
  margin: 3px;
}

.calculator-panel {
  flex: 1;
  /*border: 1px solid;*/
  display: flex;
  flex-direction: row;
  /*text-align: center;*/
  margin: 1px;
  /*align-items: space-between;*/
  justify-content: center;
  color: rgba(255, 255, 255, 0.95);
}

.calculator-button {
  flex: 1;
  /*border: 1px solid;*/
  margin: 3px;
  padding: 10px;
  /*align-self: space-around;*/
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  align-self: baseline;
  font-size: 20px;
  color: white;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.95);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 950ms cubic-bezier(0.19, 1, 0.9, 1);
}

.calculator-button:hover {
  background-color: silver;
  color: blue;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.75), 0 0 20px rgba(255, 255, 255, 0.75);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px blue;
}

.arithmetic-symbol {
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 9px;
}

.calculator-title {
  margin: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.95);
  letter-spacing: 14px;
  padding-left: 14px;
  line-height: 1.95;
}

.calculator-form-input {
  text-align: right;
  font-size: 18px;
  line-height: 1.95;
  outline-color: rgba(255, 255, 255, 0.95);
  outline-color: white;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.95);
}

@media (max-width: 2060px) {
  .calculator-button {
    padding: 5px;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .calculator-button {
    font-size: 18px;
  }

  .calculator-title {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 13px;
  }

  .calculator {
    max-width: 320px;
    height: 368px;
    padding: 0.75em;
  }

  .calculator-panel span small {
    font-size: 60%;
  }

  .calculator-form-input {
    font-size: 16px;
    line-height: 1.5;
  }
}
/**
 * Sidenav Project-Accordion Component Style
 */
.project-accordion {
  padding: 0;
  margin: 0;
  height: 100%;
}

.project-accordion-panel {
  margin: 0;
  position: relative;
}

.project-accordion-label {
  cursor: pointer;
  background-color: #111;
  margin: 0;
  padding: 0;
}
.project-accordion-label p {
  color: #818181;
  font-size: 85%;
  border-right: 5px solid #818181;
  margin: 0 5px 0 0;
  padding: 8px 8px 8px 32px;
}
.project-accordion-label:before {
  content: '\002B';
  color: #818181;
  float: left;
  margin-left: 10px;
  padding-top: 5px;
}

.project-accordion-label--active:before {
  content: '\2212';
}

.sidenav-menu-project:hover {
  font-weight: 700;
  color: violet;
  border-right: 5px solid violet;
}
.sidenav-menu-project:after, .sidenav-menu-project:before {
  backface-visibility: hidden;
  border: 1px solid rgba(238, 130, 238, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.sidenav-menu-project:hover:after {
  backface-visibility: hidden;
  border-color: violet;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.project-accordion-content {
  height: auto;
  overflow: hidden;
  background-color: #ededed;
  padding-left: 12px;
}

.sidenav-project-menu {
  display: block;
  text-decoration: none;
  font-size: 85%;
  color: #818181;
  border-right: 5px solid #818181;
  margin: 1px 5px 1px 0;
  padding: 4px 8px 4px 32px;
}
.sidenav-project-menu:hover {
  font-weight: 700;
  color: #ff9948;
  border-right: 5px solid #ff9948;
}
.sidenav-project-menu:after, .sidenav-project-menu:before {
  backface-visibility: hidden;
  border: 1px solid rgba(255, 153, 72, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}
.sidenav-project-menu:hover:after {
  backface-visibility: hidden;
  border-color: #ff9948;
  transition: width 350ms ease-in-out;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
