/**
 * Add varying shade of colors to the different section of the page
 */
.about-section {
	//background-color: $lighter-grey;
	//border: 4px solid $darker-mid-grey;
	background-color: $white;
	border: 2px solid $white;
}

.section-title {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

.article-title {
	font-size: 190%;
	font-weight: 800;
}

.article-subtitle {
  color: $darker-mid-grey;	
}

.media {
	//@include border2-solid($dull-black);
	width: 280px;
	//width: 100%;
	height: auto;
	margin: auto;
	padding: auto;
	margin-left: 15px;
} 

.projects-section {
	background-color: $light-teal;
	border: 2px solid $light-teal;
}

.skills-section {
	background-color: $mid-grey;
	border: 2px solid $mid-grey;
}

.contact-section {
	background-color: $light-grey;
	border: 2px solid $light-grey;
}
.section-paragraph:before {
	content: '\002B';
	float: left;
	width: 40px;
	height: 30px;
	//border: 1px solid;
	//padding: 0.005px;
	text-align: center;
	z-index: 1;	
} 
.section-paragraph {
	//background-color: lime;
	height: 30px;
	cursor: pointer;	
	overflow: hidden;
}

.section-paragraph--active:before {
   content: '\2212';
}

//.section-paragraph:after {
//	content: '... ';
//}

@media screen and (max-width: 700px) {
	//.section-paragraph {
	//	display: none;
	//}
	//.article-subtitle:after {
	//	content: '\002B';
	//	float: right;
	//}
}