.accordion {
	border: 1px solid red;
	display: none;
	flex-direction: column;
	margin: .2em auto;
	padding: 3px;
	/* tested good v.1.01 */ /*max-width: 500px; */
	position: relative;
}

.accordionpanel {
	display: flex;
	flex: 1;
	flex-flow: column wrap;
	/* tested good v.1.01 */ /*width: 100%;*/
}

.accordionindex {
	position: relative;
	border: 1px solid;
	margin: 3px;
	padding: 3px;
	/*width: 320px*/
	/* tested good v.1.01 */ /*width: 70%;*/
	margin-right: 0;
	cursor: pointer;
}

.accordionindex--active {
	border-right-color: #ffffff;
	background-color: #ffffff;	
	z-index: 1;
}

.accordionindex-title {
	/*border: 1px solid;*/
	margin: 3px;
	padding: 3px;
}

.accordioncontent {
	flex: 1;
	position: relative;
	/*border: 1px solid;*/
	margin: 3px;
	padding: 6px;
	margin-top: 0;
	padding-top: 0;	
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
	/*width: 900px;*/
	/*tested good v.1.01*/ /*width: 70%;*/
	background: #eee;
	max-height: 0;
	overflow: hidden;
}

.accordioncontent--active {
	border: 1px solid;
}

.accordioncontent-title {
	/*border: 1px solid;*/
	margin-top: 9px;

}

@media (max-width: 600px) {
	.accordion {
		display: flex;
	}

	.accordionpanel {
		flex-flow: column wrap;
	}

	.accordionindex {
		width: 98.5%;
		border-right: 1px solid;
	}
  
	.accordioncontent {
		width: 98.5%;
		height: 100%;
		margin-left: 3px;
	}
}

@media (max-width: 550px) {
	.accordion {
		display: flex;
	}

	.accordionpanel {
		flex-flow: column wrap;
		height: 100%;
	}
}

@media (max-width: 500px) {
	.accordion {
		display: flex;
	}

	.accordionpanel {
		flex-flow: column wrap;
		height: 100%;
	}
}