#dbcard-container {
	position: relative;
	/*border: 1px solid;*/
	width: 380px;
	height: 220px;
	margin: auto;
}

.for-dbcard-toggle {
  perspective: 1000px;
  display: block;
  width: 370px;
  height: 210px;
  position: absolute;
  cursor: pointer;
  color: #eee;
  font-family: Arial;
  /*border: 1px solid	red;*/
  top: 4px;
  left: 4px;
  z-index: 1;
}

.dbcard-card {
  transform-style: preserve-3d;
  transition: all 2s;
  border: 1px solid #ff9948;
  border-radius: 5px;
 	position: absolute;
  width: 340px;
  height: 200px;	
  top: 4px;
  left: 4px;  
}

.dbcard-card div {
  position: absolute;
  height: 100%;
  width: 100%;
  /*background: #FFFccc;*/
  /*text-align: center;*/
  /*line-height: 200px;*/
  backface-visibility: hidden;
  border-radius: 5px;
  /*border: 1px solid #ff9948;*/
}

.dbcard-front {
	/*background-color: pink;*/
	background: url(../../img/portfolio/dbcard/bg1.png) no-repeat;
}

.dbcard-back {
  color: #eee;
  transform: rotateX(180deg);	
  background-color: green;
  background: url(../../img/portfolio/dbcard/wall-of-lawn.png) no-repeat;
}

.for-dbcard-toggle:hover .dbcard-card{
  transform: rotateX(25deg);
  box-shadow: 20px 20px 20px rgba(50,50,50,.2);	
}

.dbcard-toggle:checked + .dbcard-card {
  transform: rotateX(180deg);
}

.for-dbcard-toggle:hover .dbcard-toggle:checked + .dbcard-card{
  transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);	
}

.dbcard-toggle {
	display: none;
}

.dbcard-back svg {
  display: inline;
  margin: 15px 100px 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 310px;	
  color: #f3f5f8;
}

.dbcard-back h2 {
  text-align: left;
  /*background: yellow;*/
  /*width: 65px;*/
  display: inline;
  margin: 15px 100px 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 150px;
  left: 10px;
  color: #f3f5f8;
}

.dbcard-front h2 {
  text-align: left;
  /*background: yellow;*/
  /*width: 65px;*/
  display: inline;
  margin: 15px 100px 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 10px;
}

.dbcard-front svg {
  display: inline;
  margin: 15px 100px 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 310px;	
}

.dbcard-front section p:first-of-type {
  position: absolute;
  top: 32px;
  left: 10px;
  font-size: 12px;
}

.dbcard-front section p:last-of-type {
  position: absolute;
  top: 62px;
  left: 10px;
  width: 90%;
  font-size: 10px;
  text-align: left;	
}

.dbcard-front section:last-of-type ul {
  position: absolute;
  top: 120px;
  left: 10px;
  /*background: orange;*/
  font-size: 10px;
  padding: 0 0 0 0;	
}

.dbcard-front section:last-of-type li {
  display: inline;
  /*background: violet;*/
  padding: 2px 15px 0 0;	
}

.dbcard-front section:last-of-type li a {
  text-decoration: none;
  color: pink;	
}

.dbcard-front footer div:first-of-type {
  position: absolute;
  top: 165px;
  left: 10px;
  /*background: transparent;*/
  padding: 0 0 0 0;
  margin-left: 0 0 0 0;
  width: 10px;
  height: 10px;	
}
/*
.dbcard-front footer div:first-of-type img {
  width: 25px;
  height: 25px;
}*/

/* open book icon */
.dbcard-front footer div:first-of-type svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -15px;
  left: 2px;
  color: white;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}

.dbcard-front footer div:last-of-type {
  position: absolute;
  width: 30%;
  height: 10%;
  top: 165px;
  left: 40px;
  font-size: 10px;
  margin-left: 0 0 0 0;
  padding: 0 0 0 0;
}

.dbcard-front footer div:last-of-type p:first-of-type {
  margin: 0 0 0 0;
  /*background: red;*/
  text-align: left;
}

.dbcard-front footer div:last-of-type p:last-of-type {
  margin: 0 0 0 0;
  /*background: yellow;*/
  text-align: left;
}

.dbcard-front footer div:last-of-type p:last-of-type a {
  margin: 0 0 0 0;
  /*background: yellow;*/
  text-decoration: none;
  color: pink;
}

.dbcard-front footer ul:only-of-type li{
  display: inline;
}

/* twitter icon */
.dbcard-front footer ul:only-of-type li:first-of-type svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 152px;
  left: 220px;
  color: #f3f5f8;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}

/*
.dbcard-front footer ul:only-of-type li:first-of-type img {
  width: 20px;
  height: 20px;
}
*/

/* github icon */
.dbcard-front footer ul:only-of-type li:nth-of-type(2) svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 152px;
  left: 250px;
  color: #f3f5f8;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}

/*
.dbcard-front footer ul:only-of-type li:nth-of-type(2) img {
  width: 20px;
  height: 20px;
}
*/

/* facebook icon */
.dbcard-front footer ul:only-of-type li:nth-of-type(3) svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 152px;
  left: 280px;
  color: #f3f5f8;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}

/*
.dbcard-front footer ul:only-of-type li:nth-of-type(3) img {
  width: 20px;
  height: 20px;
}
*/

.dbcard-front footer ul:only-of-type li:nth-of-type(4) svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 152px;
  left: 310px;
  color: #f3f5f8;
  border: 1px solid;
  border-radius: 50%;
  padding: 2px;
}

/*
.dbcard-front footer ul:only-of-type li:nth-of-type(4) img {
  width: 20px;
  height: 20px;
}
*/