.foursided-carousel {
	/*margin: 0 auto 0 auto;*/
	/*padding: 3px;*/
	/*padding: 0 auto 0 auto;*/
	/*margin: 0 auto 0 auto;*/
	/*width: 650px;*/
	/* test max-width: 650px;*/ width: 650px;
	height: 450px;
	position: relative;
	perspective: 1250px;
	border: 1px solid #dce8fa;
}

.foursided-carousel-axis {
	/*border: 2px solid blue;*/
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: 1s;
}

.foursided-carousel-outerside {
	/*border: 1px solid;*/
	display: block;
	position: absolute;
	margin: 0 auto 0 auto;
	/*width: 440px;*/
	/* test */ width: 70%;
	height: 340px;
  /*line-height: 200px;*/
  /*font-size: 5em;*/
  /*align-items: center;*/
  /*opacity: .95;*/
  text-align: center;
  top: 28px;
  /*left: 104.25px;*/
  /*test*/ left: 96px;
}

.foursided-first {
	transform: rotateY(0deg) translateZ(228px);
	background: #ed1c24;
}

.foursided-second {
	transform: rotateY(90deg) translateZ(228px);
	background: #0072bc;
}

.foursided-third {
	transform: rotateY(180deg) translateZ(228px);
	background: #39b54a;
}

.foursided-fourth {
	transform: rotateY(270deg) translateZ(228px);
	background: #f26522;
}

.foursided-carousel-next, .foursided-carousel-prev, 
.accordion-foursided-carousel-next, .accordion-foursided-carousel-prev,
.rgb-foursided-carousel-next, .rgb-foursided-carousel-prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  border-top: 1px solid #fff;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;	
  z-index: 1;
}

.foursided-carousel-next, .accordion-foursided-carousel-next,.rgb-foursided-carousel-next { top: 11em; right: 5em; }
.foursided-carousel-prev,.accordion-foursided-carousel-prev, .rgb-foursided-carousel-prev { top: 11em; left: 5em; }

.foursided-carousel-dots, .accordion-foursided-carousel-dots {
	/*border: 1px solid green;*/
	margin-top: 25.5em;
	text-align: center;
	position: relative;
	padding-bottom: 1em;
}

.dot, .afca-dot, .rgb-dot {
	position: absolute;
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;	
  border: 2px solid #ff9948;
  line-height: .65em;
}

#dot1, #afca-dot1, #rgb-dot1 {
	left: 280px;
}

#dot2, #afca-dot2, #rgb-dot2 {
	left: 300px;
}

#dot3, #afca-dot3, #rgb-dot3 {
	left: 320px;
}
#dot4, #afca-dot4, #rgb-dot4 {
	left: 340px;
}
.dot--active, .dot:hover {
  background-color: #717171;
}

.foursided-carousel-media {
  /*border: 1px solid blue;*/
  /*width: 320px;*/
  /*  test */ max-width: 200px;
  margin: 18px auto 0 auto;
  /*margin-top: 18px;*/
}

.foursided-carousel-media__img {
  /*border: 1px solid green;*/
  /*padding: 3px;*/
  margin: 3px;
  width: 95%;
}

.foursided-carousel-font {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 100%;
  line-height: 1;
  /*background-color: #f3f5f8;*/
  /*color: #58616b;*/
  /*color: #f2f5fa; whitish bright color*/
  color: #1e2226;
}  


@media (max-width: 1012px) {
  .foursided-carousel-next, .foursided-carousel-prev, 
  .accordion-foursided-carousel-next, .accordion-foursided-carousel-prev,
  .rgb-foursided-carousel-next, .rgb-foursided-carousel-prev {
  	padding: 1em .5em;
  } 
}

@media (max-width: 950px) {
	.foursided-carousel {
		max-width: 500px;
	}

	.foursided-carousel-outerside {
		top: 28px;
		left: 74px;
	}

	.foursided-carousel-next, .rgb-foursided-carousel-next { top: 11em; right: 4.99em; }

	.foursided-first {
		transform: rotateY(0deg) translateZ(176px);
		background: #ed1c24;
	}

	.foursided-second {
		transform: rotateY(90deg) translateZ(176px);
		background: #0072bc;
	}

	.foursided-third {
		transform: rotateY(180deg) translateZ(176px);
		background: #39b54a;
	}

	.foursided-fourth {
		transform: rotateY(270deg) translateZ(176px);
		background: #f26522;
	}

	#dot1, #rgb-dot1 {
		top: -3px;
		left: 205px;
	}

	#dot2, #rgb-dot2 {
		top: -3px;
		left: 225px;
	}

	#dot3, #rgb-dot3 {
		top: -3px;
		left: 245px;
	}
	#dot4, #rgb-dot4 {
		top: -3px;
		left: 265px;
	}
}

@media (max-width: 780px) {
	.foursided-carousel {
		max-width: 360px;
	}

	.foursided-carousel-outerside {
		top: 28px;
		left: 53px;
	}

	.foursided-carousel-next, .foursided-carousel-prev, 
  .accordion-foursided-carousel-next, .accordion-foursided-carousel-prev,
  .rgb-foursided-carousel-next, .rgb-foursided-carousel-prev {
  	padding: .12em .12em;
  } 

	.foursided-carousel-next, .rgb-foursided-carousel-next { top: 24.198em; right: 4.99em; }

	.foursided-carousel-prev, .rgb-foursided-carousel-prev { top: 24.198em; left: 4.95em; }

	.foursided-first {
		transform: rotateY(0deg) translateZ(124px);
		background: #ed1c24;
	}

	.foursided-second {
		transform: rotateY(90deg) translateZ(124px);
		background: #0072bc;
	}

	.foursided-third {
		transform: rotateY(180deg) translateZ(124px);
		background: #39b54a;
	}

	.foursided-fourth {
		transform: rotateY(270deg) translateZ(124px);
		background: #f26522;
	}

	#dot1, #rgb-dot1 {
		top: -16px;
		left: 135px;
	}

	#dot2, #rgb-dot2 {
		top: -16px;
		left: 155px;
	}

	#dot3, #rgb-dot3 {
		top: -16px;
		left: 175px;
	}
	#dot4, #rgb-dot4 {
		top: -16px;
		left: 195px;
	}
}

@media (max-width: 650px) {
	.foursided-carousel {
		max-width: 360px;
	}

	.foursided-carousel-outerside {
		top: 28px;
		left: 53px;
	}

	.accordion-foursided-carousel-next { top: 24.198em; right: 4.99em; }

	.accordion-foursided-carousel-prev { top: 24.198em; left: 4.85em; }

	.foursided-first {
		transform: rotateY(0deg) translateZ(124px);
		background: #ed1c24;
	}

	.foursided-second {
		transform: rotateY(90deg) translateZ(124px);
		background: #0072bc;
	}

	.foursided-third {
		transform: rotateY(180deg) translateZ(124px);
		background: #39b54a;
	}

	.foursided-fourth {
		transform: rotateY(270deg) translateZ(124px);
		background: #f26522;
	}

	#afca-dot1 {
		top: -16px;
		left: 136px;
	}

	#afca-dot2 {
		top: -16px;
		left: 156px;
	}

	#afca-dot3 {
		top: -16px;
		left: 176px;
	}
	#afca-dot4 {
		top: -16px;
		left: 196px;
	}
}

@media (max-width: 420px) {

	.foursided-carousel {
		min-width: 360px;
	}

	.foursided-carousel-outerside {
		top: 28px;
		left: 53px;
	}

	.accordion-foursided-carousel-next { top: 24.198em; right: 4.99em; }

	.accordion-foursided-carousel-prev { top: 24.198em; left: 4.85em; }

	.foursided-first {
		transform: rotateY(0deg) translateZ(126px);
		background: #ed1c24;
	}

	.foursided-second {
		transform: rotateY(90deg) translateZ(126px);
		background: #0072bc;
	}

	.foursided-third {
		transform: rotateY(180deg) translateZ(126px);
		background: #39b54a;
	}

	.foursided-fourth {
		transform: rotateY(270deg) translateZ(126px);
		background: #f26522;
	}

	#afca-dot1 {
		top: -16px;
		left: 136px;
	}

	#afca-dot2 {
		top: -16px;
		left: 156px;
	}

	#afca-dot3 {
		top: -16px;
		left: 176px;
	}
	#afca-dot4 {
		top: -16px;
		left: 196px;
	}
}

